system-order-database-api/src/main/mule/implementation-post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="implementationFlowforPost" doc:id="8135c3a2-a041-4bb2-a485-e680317969a8" >
		<logger level="DEBUG" doc:name="Logger" doc:id="fd034eae-7b1b-4f09-aa32-42e5ed6aa2d4" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9c83fdf2-7c9b-4dd8-908f-93979404d47c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	orderID: payload.orderID,
	placementDate: payload.placementDate,
	customerId: payload.customerId,
	customerName: payload.customerName,
	status: payload.status,
	totalPrice: payload.totalPrice,
	orderItem: payload.orderItem map ( orderItem , indexOfOrderItem ) -> {
		itemId: orderItem.itemId,
		itemName: orderItem.itemName,
		price: orderItem.price,
		quantity: orderItem.quantity
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="fe04e1a2-09bb-47da-adf2-1ac34fcb8122" message="#[payload]"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="8b1d3041-80b3-47db-943d-15aad8794d88" >
			<route >
				<logger level="INFO" doc:name="Logger" doc:id="ca21afda-d78b-4884-9f8e-96d5ba9c5565" />
				<db:bulk-insert doc:name="Bulk insert" doc:id="377d6b2c-e43c-4b40-9293-a7f125144a0c" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[%dw 2.0
output application/java
---
payload.orderItem map ( orderItem , indexOfOrderItem ) -> {
	
	orderID: payload.orderID as String,
	itemId: orderItem.itemId as String,
	quantity: orderItem.quantity,
	itemName: orderItem.itemName,
	price: orderItem.price
}]]]></db:bulk-input-parameters>
			<db:sql>insert into orderItems(orderId, itemId, itemCount, itemName, price) values
 ( :orderID, :itemId, :quantity, :itemName, :price)</db:sql>
		</db:bulk-insert>
			</route>
			<route >
				<logger level="DEBUG" doc:name="Logger" doc:id="13d9a329-57e4-4711-ad01-12abf396c6af" message="#[payload]"/>
				<db:bulk-insert doc:name="Bulk insert" doc:id="f476e702-73dd-4aa2-b1c4-ec88bbf2c466" config-ref="Database_Config">
					<db:bulk-input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
[{
	orderID: payload.orderID as String,
	placementDate: payload.placementDate,
	customerName: payload.customerName as String,
	status: payload.status as String,
	customerID: payload.customerId,
	totalPrice: payload.totalPrice
}]]]]></db:bulk-input-parameters>
					<db:sql >insert into orderMaster (orderID ,placementDate ,customerName ,	status ,customerID ,totalPrice )
values(:orderID ,:placementDate ,:customerName ,:status ,:customerID ,:totalPrice)</db:sql>
				</db:bulk-insert>
			</route>
		</scatter-gather>
		<logger level="DEBUG" doc:name="Logger" doc:id="4912b288-3c40-4996-8942-e563e3f89e00" message="#[payload]"/>
		<set-variable value="order created" doc:name="Set Variable" doc:id="753f3c84-459b-4d98-9d44-3871f0a6bf4c" variableName="order"/>
		<ee:transform doc:name="Transform Message" doc:id="b5aca1ea-1bc2-4e9e-a2fd-178035580b92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:vars.order
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="08343397-d20e-4433-946e-454f94001625" type="ANY">
				<flow-ref doc:name="Flow Reference" doc:id="be1fd951-522b-4f03-a414-cd78cecc476c" name="interface-order-db-apiFlow-Error"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
