system-order-database-api/src/main/mule/implementation-get-orderid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationforgetbyorderID" doc:id="a1e0a9f2-4a7c-4b81-88c3-131ea52ba91b" >
		<logger level="DEBUG" doc:name="Logger" doc:id="081139bb-8da2-4c54-b042-309cefadcf15" message="#[payload]"/>
		<db:select doc:name="Select" doc:id="2e5034a0-bc3b-47a2-bfe1-6082c0754063" config-ref="Database_Config">
			<db:sql >Select t1.orderId, t2.placementDate, t2.customerID, t2.status, t2.totalPrice, t1.orderItemId, t1.itemId, t1.itemCount, t1.price, t1.itemName
 from orderItems t1 INNER JOIN orderMaster t2 on t1.orderId=t2.orderId  where t1.orderId=:orderID</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
		orderID: attributes.uriParams.'order-id' as Number{format:""}
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="416f9d45-6eda-4b2f-8b6e-cd4867ba826f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	orderID: payload01.orderId as Number default 0 ,
	placementDate: payload01.placementDate default "",
	customerId: payload01.customerID default 0,
	status: payload01.status default "",
	totalPrice: payload01.totalPrice default 0,
	orderItem: [{
		itemId: payload01.itemId as Number default 0,
		itemName: payload01.itemName default "",
		price: payload01.price default 0,
		quantity: payload01.itemCount default 0
	}]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cb3073b4-3580-4ba1-9b69-dbc6740dfcce" >
				<flow-ref doc:name="Flow Reference" doc:id="ab54da71-6cb2-4066-8539-73906444d5a5" name="interface-order-db-apiFlow-Error"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
